body {
  margin: 0;
  text-align: center;

  font-family: 'Merriweather', serif;
}

h1 {

  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  position: relative;
  margin-bottom: 0;
}

.top-container {
  background-color: #E4f6f6;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66bfbf;
  color: #11999e;
  padding: 50px 0 20px;


}

.middle-container {
margin: 100px 0;
}
.copyright{
  color: #EAf6f6;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
.self_img{
  height: 200px;
  width: 200px;
}

.Duraiz{
  color: #66BFBF;
}
.programmer{
  color:#66BFBF;
}
a{
  color:#11999E;
  position: relative;
  line-height: 3;
  text-decoration: none;
}
a:hover{
  color:#EAf6f6;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.computer{
width: 25%;
margin-right: 30px;

float: left;
}
.coding-img{
width: 25%;
float: right;
margin-right: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link{
  padding: 20px;
}
.contact-me{
  padding: 20px;
  line-height: 3;
}
hr{
  border-style: dotted;
  height: 0;
  width: 10%;
  border-width: 10px 0px 0px 0px;
  color: #eaf6f6;

}
.intro{
  width: 30%;
  margin: auto;
}
